In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('telco_customer_churn.csv')

# Display basic information
print("Dataset Shape:", df.shape)
print("\nFirst 5 rows:")
df.head()

Dataset Shape: (7043, 21)

First 5 rows:

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
# Check column names and data types
print("Column Names and Data Types:")
print(df.dtypes)
print("\n" + "="*50 + "\n")

# Check for missing values
print("Missing Values:")
print(df.isnull().sum())
print("\n" + "="*50 + "\n")

# Check unique values in numeric columns
print("MonthlyCharges - Sample values:")
print(df['MonthlyCharges'].head(10))
print("\nTotalCharges - Sample values:")
print(df['TotalCharges'].head(10))

Column Names and Data Types:
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

==================================================

Missing Values:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

==================================================

MonthlyCharges - Sample values:
0     29.85
1     56.95
2     53.85
3     42.30
4     70.70
5     99.65
6     89.10
7     29.75
8    104.80
9     56.15
Name: MonthlyCharges, dtype: float64

TotalCharges - Sample values:
0      29.85
1     1889.5
2     108.15
3    1840.75
4     151.65
5      820.5
6     1949.4
7      301.9
8    3046.05
9    3487.95
Name: TotalCharges, dtype: object

In [3]:
# Check column names and data types
print("Column Names and Data Types:")
print(df.dtypes)
print("\n" + "="*50 + "\n")

# Check for missing values
print("Missing Values:")
print(df.isnull().sum())
print("\n" + "="*50 + "\n")

# Check unique values in numeric columns
print("MonthlyCharges - Sample values (first 200 rows):")
print(df['MonthlyCharges'].head(200))
print("\nTotalCharges - Sample values (first 200 rows):")
print(df['TotalCharges'].head(200))

Column Names and Data Types:
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

==================================================

Missing Values:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

==================================================

MonthlyCharges - Sample values (first 200 rows):
0       29.85
1       56.95
2       53.85
3       42.30
4       70.70
        ...
195     96.55
196     24.10
197    111.35
198    112.25
199     20.75
Name: MonthlyCharges, Length: 200, dtype: float64

TotalCharges - Sample values (first 200 rows):
0        29.85
1       1889.5
2       108.15
3      1840.75
4       151.65
        ...
195    1901.65
196      587.4
197    6519.75
198    8041.65
199      20.75
Name: TotalCharges, Length: 200, dtype: object

In [4]:
# Check TotalCharges data type
print("TotalCharges data type:", df['TotalCharges'].dtype)
print("\n" + "="*50 + "\n")

# Check for space characters or non-numeric values
print("Unique values that are not numeric:")
non_numeric = df[df['TotalCharges'].apply(lambda x: not str(x).replace('.','',1).replace('-','',1).isdigit())]
print(f"Found {len(non_numeric)} rows with non-numeric TotalCharges")
print("\nSample of these rows:")
print(non_numeric[['customerID', 'tenure', 'MonthlyCharges', 'TotalCharges']].head(10))

TotalCharges data type: object

==================================================

Unique values that are not numeric:
Found 11 rows with non-numeric TotalCharges

Sample of these rows:
      customerID  tenure  MonthlyCharges TotalCharges
488   4472-LVYGI       0           52.55
753   3115-CZMZD       0           20.25
936   5709-LVOEQ       0           80.85
1082  4367-NUYAO       0           25.75
1340  1371-DWPAZ       0           56.05
3331  7644-OMVMY       0           19.85
3826  3213-VVOLG       0           25.35
4380  2520-SGTTA       0           20.00
5218  2923-ARZLG       0           19.70
6670  4075-WKNIU       0           73.35

In [5]:
# Convert TotalCharges to numeric, replace empty spaces with NaN
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Fill NaN values in TotalCharges with 0 (new customers)
df['TotalCharges'].fillna(0, inplace=True)

# Verify the fix
print("After cleaning:")
print("TotalCharges data type:", df['TotalCharges'].dtype)
print("Missing values in TotalCharges:", df['TotalCharges'].isnull().sum())
print("\nSample of previously problematic rows:")
print(df[df['tenure'] == 0][['customerID', 'tenure', 'MonthlyCharges', 'TotalCharges']].head(10))

After cleaning:
TotalCharges data type: float64
Missing values in TotalCharges: 0

Sample of previously problematic rows:
      customerID  tenure  MonthlyCharges  TotalCharges
488   4472-LVYGI       0           52.55           0.0
753   3115-CZMZD       0           20.25           0.0
936   5709-LVOEQ       0           80.85           0.0
1082  4367-NUYAO       0           25.75           0.0
1340  1371-DWPAZ       0           56.05           0.0
3331  7644-OMVMY       0           19.85           0.0
3826  3213-VVOLG       0           25.35           0.0
4380  2520-SGTTA       0           20.00           0.0
5218  2923-ARZLG       0           19.70           0.0
6670  4075-WKNIU       0           73.35           0.0

/tmp/ipython-input-572035056.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].fillna(0, inplace=True)

In [6]:
# Check all columns for missing values
print("Missing values in all columns:")
print(df.isnull().sum())
print("\n" + "="*50 + "\n")

# Display data types
print("Data types:")
print(df.dtypes)
print("\n" + "="*50 + "\n")

# Display basic statistics for numeric columns
print("Basic statistics:")
print(df.describe())

Missing values in all columns:
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

==================================================

Data types:
customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

==================================================

Basic statistics:
       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7043.000000
mean        0.162147    32.371149       64.761692   2279.734304
std         0.368612    24.559481       30.090047   2266.794470
min         0.000000     0.000000       18.250000      0.000000
25%         0.000000     9.000000       35.500000    398.550000
50%         0.000000    29.000000       70.350000   1394.550000
75%         0.000000    55.000000       89.850000   3786.600000
max         1.000000    72.000000      118.750000   8684.800000

In [8]:
# Check MonthlyCharges in detail
print("MonthlyCharges data type:", df['MonthlyCharges'].dtype)
print("Missing values:", df['MonthlyCharges'].isnull().sum())
print("\n" + "="*50 + "\n")

# Check for any non-numeric or unusual values
print("MonthlyCharges - Min/Max/Mean:")
print(f"Min: {df['MonthlyCharges'].min()}")
print(f"Max: {df['MonthlyCharges'].max()}")
print(f"Mean: {df['MonthlyCharges'].mean():.2f}")
print("\n" + "="*50 + "\n")

# Check if there are any negative values
negative_charges = df[df['MonthlyCharges'] < 0]
print(f"Negative MonthlyCharges: {len(negative_charges)}")

# Check if there are any unusually high values (outliers)
print("\nTop 10 highest MonthlyCharges:")
print(df.nlargest(10, 'MonthlyCharges')[['customerID', 'tenure', 'MonthlyCharges', 'TotalCharges']])

# Check distribution
print("\nMonthlyCharges value distribution (sample of 50):")
print(df['MonthlyCharges'].value_counts().head(50))

MonthlyCharges data type: float64
Missing values: 0

==================================================

MonthlyCharges - Min/Max/Mean:
Min: 18.25
Max: 118.75
Mean: 64.76

==================================================

Negative MonthlyCharges: 0

Top 10 highest MonthlyCharges:
      customerID  tenure  MonthlyCharges  TotalCharges
4586  7569-NMZYQ      72          118.75       8672.45
2115  8984-HPEMB      71          118.65       8477.60
3894  5989-AXPUC      68          118.60       7990.05
4804  5734-EJKXG      61          118.60       7365.70
5127  8199-ZLLSA      67          118.35       7804.15
6118  9924-JPRMC      72          118.20       8547.15
4610  2889-FPWRM      72          117.80       8684.80
3205  3810-DVDQQ      72          117.60       8308.90
6768  9739-JLPQJ      72          117.50       8670.10
4875  2302-ANTDP      48          117.45       5438.90

MonthlyCharges value distribution (sample of 50):
MonthlyCharges
20.05    61
19.85    45
19.95    44
19.90    44
20.00    43
19.65    43
19.70    43
19.55    40
20.15    40
20.25    39
19.75    39
20.35    38
19.80    38
20.10    37
19.60    37
20.20    35
19.50    32
20.45    31
19.40    31
20.40    30
19.45    28
20.30    28
20.50    28
20.55    27
19.35    25
19.30    24
20.65    23
25.25    20
25.10    19
19.25    18
25.00    17
84.80    17
19.20    17
20.75    17
74.40    16
20.60    15
24.45    15
81.00    15
20.85    15
24.80    15
79.85    14
70.15    14
25.15    14
80.45    14
25.05    14
79.20    14
80.85    13
69.95    13
89.55    13
89.85    13
Name: count, dtype: int64

In [9]:
# ===== COMPREHENSIVE DATA QUALITY CHECK =====

print("="*60)
print("COMPREHENSIVE DATA QUALITY CHECK")
print("="*60)

# 1. Check all columns for missing values
print("\n1. MISSING VALUES CHECK:")
print("-" * 60)
missing = df.isnull().sum()
if missing.sum() == 0:
    print("✓ No missing values found in any column")
else:
    print("⚠ Missing values found:")
    print(missing[missing > 0])

# 2. Check numeric columns for issues
print("\n2. NUMERIC COLUMNS CHECK:")
print("-" * 60)
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
for col in numeric_cols:
    print(f"\n{col}:")
    print(f"  Data type: {df[col].dtype}")
    print(f"  Min: {df[col].min()}")
    print(f"  Max: {df[col].max()}")
    print(f"  Mean: {df[col].mean():.2f}")

    # Check for negative values (except SeniorCitizen which is 0/1)
    if col not in ['SeniorCitizen']:
        negatives = (df[col] < 0).sum()
        if negatives > 0:
            print(f"  ⚠ WARNING: {negatives} negative values found")
        else:
            print(f"  ✓ No negative values")

    # Check for NaN
    if df[col].isnull().sum() > 0:
        print(f"  ⚠ WARNING: {df[col].isnull().sum()} NaN values")
    else:
        print(f"  ✓ No NaN values")

# 3. Check object (categorical) columns
print("\n3. CATEGORICAL COLUMNS CHECK:")
print("-" * 60)
object_cols = df.select_dtypes(include=['object']).columns
for col in object_cols:
    unique_count = df[col].nunique()
    print(f"\n{col}:")
    print(f"  Unique values: {unique_count}")
    if unique_count <= 10:
        print(f"  Values: {df[col].unique().tolist()}")
    else:
        print(f"  Sample values: {df[col].unique()[:5].tolist()}...")

# 4. Check for duplicates
print("\n4. DUPLICATE CHECK:")
print("-" * 60)
duplicates = df.duplicated().sum()
if duplicates == 0:
    print("✓ No duplicate rows found")
else:
    print(f"⚠ WARNING: {duplicates} duplicate rows found")

# 5. Check customerID uniqueness
print("\n5. CUSTOMER ID CHECK:")
print("-" * 60)
if df['customerID'].nunique() == len(df):
    print("✓ All customerIDs are unique")
else:
    print(f"⚠ WARNING: Duplicate customerIDs found")
    print(f"  Total rows: {len(df)}")
    print(f"  Unique IDs: {df['customerID'].nunique()}")

# 6. Business logic checks
print("\n6. BUSINESS LOGIC CHECK:")
print("-" * 60)

# Check if TotalCharges makes sense with tenure and MonthlyCharges
# For customers with tenure > 0, TotalCharges should be roughly tenure * MonthlyCharges
problematic_rows = df[(df['tenure'] > 0) & (df['TotalCharges'] < df['MonthlyCharges'] * 0.5)]
if len(problematic_rows) > 0:
    print(f"⚠ WARNING: {len(problematic_rows)} rows where TotalCharges seems too low")
    print(problematic_rows[['customerID', 'tenure', 'MonthlyCharges', 'TotalCharges']].head())
else:
    print("✓ TotalCharges values are reasonable")

# Check SeniorCitizen values (should be 0 or 1)
if df['SeniorCitizen'].isin([0, 1]).all():
    print("✓ SeniorCitizen values are valid (0 or 1)")
else:
    print("⚠ WARNING: SeniorCitizen has invalid values")

print("\n" + "="*60)
print("DATA QUALITY CHECK COMPLETE")
print("="*60)

============================================================
COMPREHENSIVE DATA QUALITY CHECK
============================================================

1. MISSING VALUES CHECK:
------------------------------------------------------------
✓ No missing values found in any column

2. NUMERIC COLUMNS CHECK:
------------------------------------------------------------

SeniorCitizen:
  Data type: int64
  Min: 0
  Max: 1
  Mean: 0.16
  ✓ No NaN values

tenure:
  Data type: int64
  Min: 0
  Max: 72
  Mean: 32.37
  ✓ No negative values
  ✓ No NaN values

MonthlyCharges:
  Data type: float64
  Min: 18.25
  Max: 118.75
  Mean: 64.76
  ✓ No negative values
  ✓ No NaN values

TotalCharges:
  Data type: float64
  Min: 0.0
  Max: 8684.8
  Mean: 2279.73
  ✓ No negative values
  ✓ No NaN values

3. CATEGORICAL COLUMNS CHECK:
------------------------------------------------------------

customerID:
  Unique values: 7043
  Sample values: ['7590-VHVEG', '5575-GNVDE', '3668-QPYBK', '7795-CFOCW', '9237-HQITU']...

gender:
  Unique values: 2
  Values: ['Female', 'Male']

Partner:
  Unique values: 2
  Values: ['Yes', 'No']

Dependents:
  Unique values: 2
  Values: ['No', 'Yes']

PhoneService:
  Unique values: 2
  Values: ['No', 'Yes']

MultipleLines:
  Unique values: 3
  Values: ['No phone service', 'No', 'Yes']

InternetService:
  Unique values: 3
  Values: ['DSL', 'Fiber optic', 'No']

OnlineSecurity:
  Unique values: 3
  Values: ['No', 'Yes', 'No internet service']

OnlineBackup:
  Unique values: 3
  Values: ['Yes', 'No', 'No internet service']

DeviceProtection:
  Unique values: 3
  Values: ['No', 'Yes', 'No internet service']

TechSupport:
  Unique values: 3
  Values: ['No', 'Yes', 'No internet service']

StreamingTV:
  Unique values: 3
  Values: ['No', 'Yes', 'No internet service']

StreamingMovies:
  Unique values: 3
  Values: ['No', 'Yes', 'No internet service']

Contract:
  Unique values: 3
  Values: ['Month-to-month', 'One year', 'Two year']

PaperlessBilling:
  Unique values: 2
  Values: ['Yes', 'No']

PaymentMethod:
  Unique values: 4
  Values: ['Electronic check', 'Mailed check', 'Bank transfer (automatic)', 'Credit card (automatic)']

Churn:
  Unique values: 2
  Values: ['No', 'Yes']

4. DUPLICATE CHECK:
------------------------------------------------------------
✓ No duplicate rows found

5. CUSTOMER ID CHECK:
------------------------------------------------------------
✓ All customerIDs are unique

6. BUSINESS LOGIC CHECK:
------------------------------------------------------------
✓ TotalCharges values are reasonable
✓ SeniorCitizen values are valid (0 or 1)

============================================================
DATA QUALITY CHECK COMPLETE
============================================================

In [10]:
# Save cleaned data
df.to_csv('telco_customer_churn_cleaned.csv', index=False)

print("✓ Cleaned data saved successfully!")
print(f"✓ Total rows: {len(df)}")
print(f"✓ Total columns: {len(df.columns)}")
print(f"✓ File name: telco_customer_churn_cleaned.csv")

✓ Cleaned data saved successfully!
✓ Total rows: 7043
✓ Total columns: 21
✓ File name: telco_customer_churn_cleaned.csv